@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-blue: #243bb9;
  --color-secondary-blue: #3f57da;
  --color-black: #0a0812;
  --color-grey-100: #eff1f6;
  --color-grey-200: #bdc4d1;
  --color-primary-green: #4db29a;
  --color-primary-pink: #be6aa7;
  --color-primary-orange: #d8a87c;
  --color-white: #fff;
  --color-blue-400: #172136;
  --color-blue-200: #0054ff;
  --font-inter: 'Inter', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

@layer components {
  .container1 {
    @apply max-w-378 px-5 mx-auto w-full;
  }
}

.border-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
}

.border-gradient::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 1px;
  background: linear-gradient(180deg, rgba(40, 74, 144, 0.35) 0%, rgba(40, 74, 144, 0.14) 100%);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
}

.card-gradient::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  padding: 1px;
  background: linear-gradient(180deg, rgba(33, 66, 136, 0.25) 0%, rgba(8, 20, 43, 0.25) 100%);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(24px);
  border-radius: 16px;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
}

.border1 {
  border: 1px solid;
  border-image: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0) 9.53%,
    #d9d9d9 28.13%,
    #d9d9d9 72.72%,
    rgba(217, 217, 217, 0) 94%
  );
}

.burger {
  position: absolute;
  right: 20px;
  width: 37px;
  height: 40px;
  border: none;
  cursor: pointer;
  padding: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: none;
  z-index: 150;
  @media (max-width: 1280px) {
    display: flex;
  }
  &:focus {
    outline: none;
  }
  div {
    width: 100%;
    height: 2px;
    margin-bottom: 7px;
    transition: all 0.3s linear;
    position: relative;
    border-radius: 2px;
    transform-origin: 5px;
    pointer-events: none;
    margin-left: 1px;
    background: var(--color-grey-100);
  }
}

.burger div:last-child {
  margin-bottom: 0px;
}

.burger div:first-child {
  transform: rotate(0);
}

.burger div:nth-child(2) {
  opacity: 1;
}

.burger div:nth-child(3) {
  transform: rotate(0);
}

.burger.open div {
  background: var(--color-grey-100);
}

.burger.open div:first-child {
  transform: rotate(42deg);
}

.burger.open div:nth-child(2) {
  opacity: 0;
}

.burger.open div:nth-child(3) {
  transform: rotate(-42deg);
}

.checkmark {
  display: block;
  animation: scale 0.3s ease-in-out 0.9s both;
  position: relative;
}

.checkmark__circle {
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

.progress circle {
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
  animation: dash 1.5s infinite;
}

@keyframes dash {
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -130;
  }
}
